*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

/* BODY */

body{

background:#0f172a;
color:white;
transition:.3s;

}


/* LIGHT MODE */

.light{

background:white;
color:black;

}



/* HEADER */

.header{

position:sticky;

top:0;

display:flex;

justify-content:space-between;

padding:20px;

backdrop-filter:blur(10px);

background:rgba(0,0,0,0.3);

transition:.3s;

}


/* STICKY ANIMATION */

.header.sticky{

box-shadow:0 5px 20px black;

}



/* NAV */

nav a{

margin:15px;

text-decoration:none;

color:inherit;

}


/* HERO */

.hero{

height:90vh;

text-align:center;

padding-top:150px;

}


.blue{

color:#38bdf8;

}



/* BUTTON */

.btn{

background:#38bdf8;

padding:14px 30px;

border-radius:30px;

text-decoration:none;

color:black;

display:inline-block;

margin-top:20px;

}



/* GLASS */

.glass{

background:rgba(255,255,255,0.1);

backdrop-filter:blur(20px);

padding:30px;

margin:20px;

border-radius:20px;

}



/* SECTION */

section{

padding:80px;

}


.title{

margin-bottom:30px;

}



/* SKILLS */

.skill{

margin:15px 0;

}


.bar{

background:#ddd;

height:10px;

border-radius:20px;

}


.fill{

height:10px;

background:#38bdf8;

border-radius:20px;

width:0;

transition:2s;

}


.f90{

width:90%;

}

.f85{

width:85%;

}

.f80{

width:80%;

}



/* PROJECT GRID */

.projects{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

}



/* INPUT */

input,textarea{

width:100%;

padding:12px;

margin:10px 0;

border-radius:10px;

border:none;

}



/* BUTTON */

button{

padding:12px;

border:none;

border-radius:20px;

background:#38bdf8;

}



/* FOOTER */

footer{

text-align:center;

padding:30px;

}
